# ENDF directories
ENDF/*/**

# Version5 result files stored in this folder
**/Linux_x86_64/

# Version5 compilation object files
**/*.o
**/*.a
**/*.mod
Drakkar/Version5/Donjon/src/Donjon
Drakkar/Version5/Dragon/src/Dragon
Drakkar/Version5/Ganlib/src/Ganlib
Drakkar/Version5/Trivac/src/Trivac

# Version5 Draglib files
**/draglib*

# Serpent outputs
**/*.out
**/*.seed
**/*_geom*.png
**/*_mesh1.png
**/*_res.m
**/*_core0.m
**/*_det0.m
**/*_stat.m
**/*_his0.m
**/*.csw
# Serpent inputs and temporary SLURM inputs
**/*.sss2
Serpent/TMC/*_*.sh

# D2S input files
**/*.geo
**/*.compo

# PDF/EPS files that may be generated for plotting
**/*.pdf
**/*.eps

# Slurm output (log) files
**/slurm-*.out

# File I use to write my commit messages :)
/commit.log
